<a href="https://colab.research.google.com/github/aaronsinghrana/UK-Job-Market-Dashboard/blob/main/uk_job_market_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import

In [ ]:
import pandas as pd

df = pd.read_csv("rawData.csv")
df.head()

,id,title,postingDate,salary,hours,closingDate,location,state,city,company,jobType,category,jobReference,additionalSalaryInf
0,1,Care Home Cook,07 November 2023,£12.50 per hour,Part time,07 December 2023,"Dover, Kent",South East Englasd,Kent,Charing Gardens Ltd,Permanent,Healthcare & Nursing Jobs,WS,NaN
1,2,Care Assistant,07 November 2023,£10.80 to £11.00 per hour,Part time,07 December 2023,"Gillingham, Kent",South East Englasd,Kent,Charing Gardens Ltd,Permanent,Healthcare & Nursing Jobs,PV,NaN
2,3,Senior Sister Critical Care,07 November 2023,"£43,742.00 to £50,056.00 per year",Full time,21 November 2023,"Canterbury, CT1 3NG",South East Englasd,Kent,NHS Jobs,Permanent,Healthcare & Nursing Jobs,C9344-23-1459,£43742.00 - £50056.00 a year
3,4,Critical Care Clinical Skills and Learning Fac...,07 November 2023,"£35,392.00 to £42,618.00 per year",Full time,21 November 2023,"Canterbury, CT1 3NG",South East Englasd,Kent,NHS Jobs,Permanent,Healthcare & Nursing Jobs,C9344-23-1460,£35392.00 - £42618.00 a year
4,5,Health Visitor,07 November 2023,"£35,392.00 to £42,618.00 per year",Full time,21 November 2023,"Ashford, TN23 4EY",South East Englasd,Kent,NHS Jobs,Permanent,Healthcare & Nursing Jobs,C9846-23-0819,£35392.00 - £42618.00 a year

In [ ]:
print(df.shape)
print(df.columns)
df.head()

(15654, 14)
Index(['id', 'title', 'postingDate', 'salary', 'hours', 'closingDate',
       'location', 'state', 'city', 'company', 'jobType', 'category',
       'jobReference', 'additionalSalaryInf'],
      dtype='object')

,id,title,postingDate,salary,hours,closingDate,location,state,city,company,jobType,category,jobReference,additionalSalaryInf
0,1,Care Home Cook,07 November 2023,£12.50 per hour,Part time,07 December 2023,"Dover, Kent",South East Englasd,Kent,Charing Gardens Ltd,Permanent,Healthcare & Nursing Jobs,WS,NaN
1,2,Care Assistant,07 November 2023,£10.80 to £11.00 per hour,Part time,07 December 2023,"Gillingham, Kent",South East Englasd,Kent,Charing Gardens Ltd,Permanent,Healthcare & Nursing Jobs,PV,NaN
2,3,Senior Sister Critical Care,07 November 2023,"£43,742.00 to £50,056.00 per year",Full time,21 November 2023,"Canterbury, CT1 3NG",South East Englasd,Kent,NHS Jobs,Permanent,Healthcare & Nursing Jobs,C9344-23-1459,£43742.00 - £50056.00 a year
3,4,Critical Care Clinical Skills and Learning Fac...,07 November 2023,"£35,392.00 to £42,618.00 per year",Full time,21 November 2023,"Canterbury, CT1 3NG",South East Englasd,Kent,NHS Jobs,Permanent,Healthcare & Nursing Jobs,C9344-23-1460,£35392.00 - £42618.00 a year
4,5,Health Visitor,07 November 2023,"£35,392.00 to £42,618.00 per year",Full time,21 November 2023,"Ashford, TN23 4EY",South East Englasd,Kent,NHS Jobs,Permanent,Healthcare & Nursing Jobs,C9846-23-0819,£35392.00 - £42618.00 a year

# Cleaning Data

In [ ]:
# clean salary column
df["salary_clean"] = (
    df["salary"]
    .astype(str)
    .str.replace("£", "", regex=False)
    .str.replace(",", "", regex=False)
    .str.extract(r"(\d+)")
    .astype(float)
)

In [ ]:
# clean location column
df["location"] = (
    df["location"]
    .astype(str)
    .str.strip()
    .str.title()
)

In [ ]:
# drop rows missing key fields
df = df.dropna(subset=["salary_clean", "location"])

In [ ]:
# save cleaned file
df.to_csv("cleaned_jobs.csv", index=False)

In [ ]:
# quick check
print("After cleaning:", df.shape)
print(df[["salary", "salary_clean", "location"]].head(10))

After cleaning: (11029, 15)
                              salary  salary_clean             location
0                    £12.50 per hour          12.0          Dover, Kent
1          £10.80 to £11.00 per hour          10.0     Gillingham, Kent
2  £43,742.00 to £50,056.00 per year       43742.0  Canterbury, Ct1 3Ng
3  £35,392.00 to £42,618.00 per year       35392.0  Canterbury, Ct1 3Ng
4  £35,392.00 to £42,618.00 per year       35392.0    Ashford, Tn23 4Ey
5                £22,383.00 per year       22383.0   Canterbury, Ct13Ng
6                £22,383.00 per year       22383.0  Gillingham, Me7 5Ny
7  £35,392.00 to £42,618.00 per year       35392.0   Rochester, Me3 9Ae
8        £27,055 to £32,422 per year       27055.0     Sidcup, Da14 6Lt
9  £22,816.00 to £24,336.00 per year       22816.0  Canterbury, Ct1 3Ng